---
import BaseLayout from "@/layouts/BaseLayout.astro";
import MainCard from "@/components/MainCard.astro";
---

<BaseLayout title="About">
  <MainCard
    title="About xguagua"
    description="泥嚎这里是我的介绍页面"
    textOverlay="ABOUT"
    infoIcon="lucide:info"
  >
    <div class="space-y-10 mb-8">
      <section class="flex flex-col md:flex-row gap-8 items-center md:items-start">
        <div class="flex-1 text-center md:text-left">

          <section>
            <h2 class="text-2xl font-bold mb-6 flex items-center gap-2">基本信息</h2>
            <span>现高一，现役 OIer 但是可能马上就不是了。流萤厨，成分比较复杂。退役后本站可能会更新些文化课的东西。</span>
            <span>可以加一下我的 QQ 之类的，如果你和我有共同话题应该会挺聊得来的？</span>
          </section>

          <section>
          <h2 class="text-2xl font-bold mb-6 flex items-center gap-2">爱好</h2>
          <span>写代码，还有喜欢自己动手之类的。</span>
          </section>
          
        </div>
      </section>
    </div>
  </MainCard>
</BaseLayout>
