---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { Icon } from "astro-icon/components";
import MainCard from "@/components/MainCard.astro";
import FriendCard from "@/components/mdx/FriendCard.astro";
import Card from "@/components/temple/Card.astro";
import CardGroup from "@/components/temple/CardGroup.astro";
import { Code } from "astro-expressive-code/components";
---

<BaseLayout title="Friends">
  <CardGroup cols="1">
    <MainCard 
    title="Friends" 
    description="友链和添加方式都在下面喵" 
    textOverlay="FRIENDS" 
    infoIcon="lucide:link">
      <div class="space-y-10">
        <section>
          <h2 class="text-2xl font-bold mb-6 flex items-center gap-2">
            <Icon name="lucide:users" class="w-6 h-6 text-primary" />
            <span>Friends</span>
          </h2>

          <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
            <FriendCard
              name="Eous"
              avatar="https://blog.伊埃斯.icu/profile.webp"
              description="Eous，同机房大佬"
              url="https://blog.伊埃斯.icu"
              type="friend"
            />
            <FriendCard
              name="xAlec"
              avatar="https://cdn.luogu.com.cn/upload/usericon/667558.png"
              description="xAlec，同机房大佬"
              url="https://www.cnblogs.com/Tomori0505"
              type="friend"
            />
          </div>
        </section>
      </div>
    </MainCard>
    <Card>
      <div class="p-4 sm:p-6">
        <div class="space-y-10">
          <section>
            <div class="flex flex-col sm:flex-row justify-between items-start sm:items-center mb-6 gap-2">
              <h2 class="text-2xl font-bold flex items-center gap-2">
                <Icon name="lucide:user-plus" class="w-6 h-6 text-primary" />
                <span>添加友链说明</span>
              </h2>
              <a
                href="https://github.com/xguagua/xguagua-blog/issues"
                target="_blank"
                rel="noopener noreferrer"
                class="btn btn-sm btn-outline btn-primary gap-2"
              >
                <Icon name="lucide:plus-circle" class="w-4 h-4" />
                用任何方式或者发 Github Issue 给我，请用以下模板发送
                
              </a>
              
            </div>
            <span>
              <Code code = `
ID: [填入你的 ID]

头像链接: [填入你的头像 URL，无法上传请联系我添加本地图片]

介绍: [填入你想在展示卡下写的介绍，尽量短一些]

主页: [填入你的主页地址]` lang = "plain"/>
            </span>
          </section>
        </div>
      </div>
    </Card>
  </CardGroup>
</BaseLayout>
