---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { Icon } from "astro-icon/components";
import MainCard from "@/components/MainCard.astro";
import GitHubStats from "@/components/mdx/GitHubStats.astro";
import TimeLine from "@/components/mdx/TimeLine.astro";
---

<BaseLayout title="Home">
  <MainCard
    title="Welcome to xguagua's blog"
    description="感谢 Frosti Template 与 Cloudflare Pages 让我的 Blog 得以部署"
    textOverlay="Home Page"
    infoIcon="lucide:info"
    image="/index.jpg"
  >
    <div class="space-y-8">
        <h2 class="text-2xl font-bold mb-6 flex items-center gap-2">
          <Icon name="lucide:sparkles" class="w-6 h-6 text-primary" />
          <span>Welcooome</span>
        </h2>

        <div class="card bg-base-200 p-6">
          <span>一只普通高一流萤厨，就读于 CDFLS。</span>
          <span>建议使用暗色主题，当然你用亮色我也不拦着。</span>
          <span>有任何问题点旁边 Contact 联系我或者给这个仓库发 Issue。</span>
        </div>
      
        <h2 class="text-2xl font-bold mb-6 flex items-center gap-2">
          <Icon name="lucide:github" class="w-6 h-6 text-primary" />
          <span>Repository</span>
        </h2>

        <GitHubStats username="xguagua" repositoryName="xguagua-blog" showLanguages={true} showContributors={true} />

        <h2 class="text-2xl font-bold mb-6 flex items-center gap-2">
          <Icon name="lucide:logs" class="w-6 h-6 text-primary" />
          <span>Changelog</span>
        </h2>
        <TimeLine
          items = {[
            {time: "2025.10.13",event: "删除 Player 功能，加入 Changelog。预计本周末完成框架升级"},
            {time: "2025.10.14",event: "加入某奇奇怪怪小功能，准备加入最近文章更新功能"},
            {time: "2025.10.20",event: "完成框架升级"}
          ]}
        />
    </div>
  </MainCard>
</BaseLayout>